h1 {
    font-weight: normal;
    color: #3c857c;
}
h1 strong {
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    color: #3c857c;
}

a, a:link, a:visited, a:active {
    color: #566866;
}

.producttitle {
    background: #a4c6c2;
}


thead th {
    color: black;
    background: #a4c6c2;
    border-bottom: 1px solid #777;
}


div.example {
   background: inherit;
}

pre {
    border: 1px solid #999999;
    background: #eeeeee;
    color: black;
    padding: 1em;
}
